---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

// Style break line between two sections
hr {
  width: 50%
}

// Style all tables
table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 3px;
  // margin: 10px 0;
}

table {
  width: 100%;
  overflow-x: scroll;
}

th, td {
  padding: 5px !important;
}

th {
  text-align: center;
}

td {
  text-align: left;
  vertical-align: top;
  // white-space: pre-wrap; // Preserve whitespace and allow wrapping
}

.centered_td {
  text-align: center;
}

.header-code {
  text-align: left;
}

// Format collapsible blocks
.bordered-block {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 20px 0 20px;
  padding: 10px;
}

.bordered-inner-block {
  margin: 10px;
}

// Style code blocks
pre {
  overflow-x: auto; // Enable horizontal scrolling for long lines
}

table pre {
  overflow-x: auto; // Enable horizontal scrolling for long lines in tables
  white-space: pre-wrap; // Preserve whitespace and allow wrapping
}

// math in a div box 
.math-box {
  border: 2px solid #bf8bff;
  background: #e5d0ff;
  margin: 10px 25px 0 25px;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  overflow-x: scroll;
  overflow-wrap: anywhere;   /* allow breaking inside long math text */
  white-space: normal;       /* ensures wrapping */
  word-break: break-word;    /* fallback for very long tokens */
}